.venv/
__pycache__/
*.pyc
.DS_Store
*.egg-info/
dist/
build/
.pytest_cache/
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
target/
dbt_packages/
logs/
data/processed/
data/rejected/
data/structured/
data/semi_structured/
data/unstructured/
